<template name="friendsList">
  <section class="panel panel-default">
    <header class="panel-heading">
      <div class="input-group text-sm">
        <input type="text" class="form-control input-sm" placeholder="Search">
        <div class="input-group-btn">
       <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="data-toggleropdown">Filter<span class="caret"></span></button>
           <ul class="dropdown-menu pull-right">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li> <li><a href="#">Separated link</a></li>
           </ul>
        </div>
      </div>
    </header>
    <ul class="list-group alt">
      <li class="list-group-item">
        <div class="media">
          <span class="pull-left thumb-sm">
            <img src="images/avatar.jpg" alt="John said" class="img-circle">
          </span>
            <div class="pull-right text-success m-t-sm">
             <i class="fa fa-circle"></i>
            </div>
            <div class="media-body">
              <div>
                <a href="#">Chris Fox</a>
              </div>
            <small class="text-muted">about 2 minutes ago</small>
          </div>
        </div>
      </li>
    </ul>
  </section>
</template>
