<template name="friendsList">
  <aside class="bg-light lter b-l aside-lg">
  <section class="panel panel-default">
    <header class="panel-heading">
      <div class="input-group text-sm">
        <input type="text" class="form-control input-sm" placeholder="Search">
        <div class="input-group-btn">
           <button type="button" class="btn btn-sm btn-default" >
            Search
          </button>
        </div>
      </div>
    </header>
    <ul class="list-group alt">
      <li class="list-group-item">
        <div class="media">
          <span class="pull-left thumb-sm">
            <img src="#" alt="John said" class="img-circle">
          </span>
            <div class="pull-right text-success m-t-sm">
             <i class="fa fa-circle"></i>
            </div>
            <div class="media-body">
              <div>
                <a href="#">Ernie Casilla</a>
              </div>
            <small class="text-muted">about 2 minutes ago</small>
          </div>
        </div>
      </li>
            <li class="list-group-item">
        <div class="media">
          <span class="pull-left thumb-sm">
            <img src="#" alt="John said" class="img-circle">
          </span>
            <div class="pull-right text-success m-t-sm">
             <i class="fa fa-circle"></i>
            </div>
            <div class="media-body">
              <div>
                <a href="#">Chris Fox</a>
              </div>
            <small class="text-muted">about 5 minutes ago</small>
          </div>
        </div>
      </li>
            <li class="list-group-item">
        <div class="media">
          <span class="pull-left thumb-sm">
            <img src="#" alt="John said" class="img-circle">
          </span>
            <div class="pull-right text-danger m-t-sm">
             <i class="fa fa-circle"></i>
            </div>
            <div class="media-body">
              <div>
                <a href="#">John Doe</a>
              </div>
            <small class="text-muted">about 10 minutes ago</small>
          </div>
        </div>
      </li>
            <li class="list-group-item">
        <div class="media">
          <span class="pull-left thumb-sm">
            <img src="#" alt="John said" class="img-circle">
          </span>
            <div class="pull-right text-warning m-t-sm">
             <i class="fa fa-circle"></i>
            </div>
            <div class="media-body">
              <div>
                <a href="#">Jane Doe</a>
              </div>
            <small class="text-muted">about 15 minutes ago</small>
          </div>
        </div>
      </li>
            <li class="list-group-item">
        <div class="media">
          <span class="pull-left thumb-sm">
            <img src="#" alt="John said" class="img-circle">
          </span>
            <div class="pull-right text-success m-t-sm">
             <i class="fa fa-circle"></i>
            </div>
            <div class="media-body">
              <div>
                <a href="#">Chris Fox</a>
              </div>
            <small class="text-muted">about 2 minutes ago</small>
          </div>
        </div>
      </li>
            <li class="list-group-item">
        <div class="media">
          <span class="pull-left thumb-sm">
            <img src="#" alt="John said" class="img-circle">
          </span>
            <div class="pull-right text-success m-t-sm">
             <i class="fa fa-circle"></i>
            </div>
            <div class="media-body">
              <div>
                <a href="#">Chris Fox</a>
              </div>
            <small class="text-muted">about 2 minutes ago</small>
          </div>
        </div>
      </li>
            <li class="list-group-item">
        <div class="media">
          <span class="pull-left thumb-sm">
            <img src="#" alt="John said" class="img-circle">
          </span>
            <div class="pull-right text-success m-t-sm">
             <i class="fa fa-circle"></i>
            </div>
            <div class="media-body">
              <div>
                <a href="#">Chris Fox</a>
              </div>
            <small class="text-muted">about 2 minutes ago</small>
          </div>
        </div>
      </li>
            <li class="list-group-item">
        <div class="media">
          <span class="pull-left thumb-sm">
            <img src="#" alt="John said" class="img-circle">
          </span>
            <div class="pull-right text-success m-t-sm">
             <i class="fa fa-circle"></i>
            </div>
            <div class="media-body">
              <div>
                <a href="#">Chris Fox</a>
              </div>
            <small class="text-muted">about 2 minutes ago</small>
          </div>
        </div>
      </li>
            <li class="list-group-item">
        <div class="media">
          <span class="pull-left thumb-sm">
            <img src="#" alt="John said" class="img-circle">
          </span>
            <div class="pull-right text-success m-t-sm">
             <i class="fa fa-circle"></i>
            </div>
            <div class="media-body">
              <div>
                <a href="#">Chris Fox</a>
              </div>
            <small class="text-muted">about 2 minutes ago</small>
          </div>
        </div>
      </li>
            <li class="list-group-item">
        <div class="media">
          <span class="pull-left thumb-sm">
            <img src="#" alt="John said" class="img-circle">
          </span>
            <div class="pull-right text-success m-t-sm">
             <i class="fa fa-circle"></i>
            </div>
            <div class="media-body">
              <div>
                <a href="#">Chris Fox</a>
              </div>
            <small class="text-muted">about 2 minutes ago</small>
          </div>
        </div>
      </li>
            <li class="list-group-item">
        <div class="media">
          <span class="pull-left thumb-sm">
            <img src="#" alt="John said" class="img-circle">
          </span>
            <div class="pull-right text-success m-t-sm">
             <i class="fa fa-circle"></i>
            </div>
            <div class="media-body">
              <div>
                <a href="#">Chris Fox</a>
              </div>
            <small class="text-muted">about 2 minutes ago</small>
          </div>
        </div>
      </li>
            <li class="list-group-item">
        <div class="media">
          <span class="pull-left thumb-sm">
            <img src="#" alt="John said" class="img-circle">
          </span>
            <div class="pull-right text-success m-t-sm">
             <i class="fa fa-circle"></i>
            </div>
            <div class="media-body">
              <div>
                <a href="#">Chris Fox</a>
              </div>
            <small class="text-muted">about 2 minutes ago</small>
          </div>
        </div>
      </li>
    </ul>
  </section>
  </aside>
</template>
